[Unit]
Description=BEAMNode Startup Services (Detect, Scheduler, Shipping)
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/BEAMNode_Prototype1/scripts/node
ExecStart=/usr/bin/env python3 /home/pi/BEAMNode_Prototype1/scripts/node/launcher.py
Restart=always
RestartSec=5
Type=simple

StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
