[Unit]
Description=BEAMNode Startup Services (Detector and Scheduler)
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/BEAMNode_Prototype1/scripts/node
ExecStart=/usr/bin/env python3 /home/pi/BEAMNode_Prototype1/scripts/node/launcher.py
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
